---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Consulting and contracting">
    <p>
        Having previously worked as a Principal Software Engineer in two
        startups, and having made several major technical contributions before
        that, I am now an independent software engineer and architect. I have a
        gettings-things-done mentality and don't shy away from tackling some of
        the tougher challenges in software engineering.
    </p>
    <p>I specialize in:</p>
    <ul>
        <li>Plugin architectures</li>
        <li>Hybrid (cross-language) development</li>
        <li>Development tooling</li>
        <li>Real-time collaboration</li>
        <li>Complex code migrations</li>
        <li>Rust & TypeScript</li>
        <li>Generally things involving complex algorithms :)</li>
    </ul>
    <p>Feel free to have a look at my <a href="/projects">past projects</a>.</p>
    <p>
        If you would like to discuss an opportunity, please reach out to me
        through my <a href="https://www.linkedin.com/in/arendjr/"
            >LinkedIn profile</a
        >.
    </p>
</Layout>
