---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Contract Agreement Terms and Conditions">
    <h3>1. Definitions</h3>
    <ol>
        <li>
            <b>Contractor:</b> Dirk Tijmen Arend van Beelen, acting in the name of
            the sole proprietorship, Arend Jr Consulting, having the registered business
            address at Meeuwenstraat 34, 2025 ZC, Haarlem, the Netherlands.
        </li>
        <li>
            <b>Client:</b> The individual or entity engaging the Contractor for services.
        </li>
        <li>
            <b>Parties:</b> The Contractor and the Client are hereinafter together
            referred to as the Parties, and individually also as; a <b>Party</b
            >.
        </li>
        <li>
            <b>Services:</b> The software engineering services to be provided by
            the Contractor.
        </li>
        <li>
            <b>Deliverables:</b> Any code, documentation, or other materials produced
            as part of the Services.
        </li>
        <li>
            <b>Agreement:</b> The project agreement or statements of work to which
            these terms and conditions apply.
        </li>
    </ol>
    <h3>2. Scope of Services</h3>
    <ol>
        <li>
            The Contractor will provide software engineering services as agreed
            upon in individual project agreements or statements of work.
        </li>
        <li>
            Any changes to the scope of Services must be agreed upon in writing
            by both parties.
        </li>
        <li>
            If, at the Client's request, the Contractor has performed activities
            and/or services outside the scope of the Services, the Contractor is
            entitled to charge the Client for such activities or such services
            on the basis of an hourly fee:
            <ol type="a">
                <li>
                    If the Agreement explicitly specified an hourly fee, this
                    fee also applies to work outside the original scope.
                </li>
                <li>
                    Otherwise, if the Agreement explicitly specified a daily
                    fee, the hourly fee is determined by dividing the daily fee
                    by eight.
                </li>
                <li>
                    In all other situations, an hourly fee of EUR 150,- shall
                    apply.
                </li>
            </ol>
        </li>
        <li>
            The Contractor is not obliged to honour requests for work outside
            scope of the Services and may require that, for that purpose, a
            separate written agreement should be entered into.
        </li>
        <li>
            The Client realises that adjustments and extra work (may) result in
            terms and delivery periods and/or (delivery) dates being postponed.
            Any new terms and delivery periods and/or (delivery) dates indicated
            by the Contractor replace the previous terms and delivery periods
            and/or (delivery) dates.
        </li>
    </ol>
    <h3>3. Performance</h3>
    <ol>
        <li>
            The Contractor shall fulfil the Contractor's duties independently
            and at the Contractor's sole discretion. The Contractor shall take
            into account the reasonable and timely directions of the Client in
            relation to the performance of the Services.
        </li>
        <li>
            The Contractor shall perform the Services mainly at Meeuwenstraat
            34, 2025 ZC, Haarlem, the Netherlands.
        </li>
        <li>
            The Contractor is completely independent in the execution of the
            Services. The Contractor performs the Services at the Contractor's
            own discretion and without the supervision or guidance of the
            Client.
        </li>
        <li>
            The Parties acknowledge that the success of the Services to be
            performed depends on the proper and timely cooperation of the
            Parties. The Client undertakes always to fully cooperate, within
            reason, and in time, and to provide the Contractor with all
            authority and information necessary for the proper execution of the
            Services. All damages that arise because the Client has not
            delivered information, data, or other materials (on time), or the
            information, data, or other materials are incomplete, incorrect,
            and/or contain errors or defects, are at the expense and risk of the
            Client.
        </li>
        <li>
            The Contractor has the right to have third parties perform (part of)
            the Services for the risk and account of the Client, subject to the
            prior approval of the Client given by email and provided that the
            Contractor shall remain responsible for the Services and proper
            execution of this Agreement.
        </li>
        <li>
            The Client explicitly acknowledges and agrees that the Contractor
            also performs services for other clients.
        </li>
    </ol>
    <h3>4. Representation and warranties</h3>
    <ol>
        <li>
            The Contractor cannot represent, warrant, or guarantee that the
            Services performed will be free from errors or omissions.
        </li>
        <li>
            The Contractor only performs the Services on the basis of a
            best-efforts obligation. The Contractor is not responsible for: (i)
            the effectiveness of the Services; (ii) any results in relation to
            or outcomes from the Services; or (iii) any decisions made by the
            Client or any other third party based on the Services provided
            and/or any results in relation to or outcomes from the Services. The
            Contractor cannot represent, warrant, or guarantee the effectiveness
            of the Services or the results in relation to or outcomes from the
            Services. The Contractor's comments about the effectiveness of the
            Services and/or result(s) and/or outcome(s) are expressions of
            opinion only.
        </li>
        <li>
            The Client acknowledges that the Contractor cannot make any such
            representations, warranties, or guarantees mentioned in clauses 4.1
            and 4.2 and that the Client cannot hold the Contractor liable in
            relation to: (i) errors or omissions; (ii) the effectiveness of the
            Services; (iii) any results in relation to or outcomes from the
            Services; or (iv) any decisions made by the Client or any other
            third party based on the Services provided and/or any results in
            relation to or outcomes from the Services.
        </li>
    </ol>
    <h3>5. Limitation of Liability</h3>
    <ol>
        <li>
            Without prejudice to clause 5.6, the Contractor shall not be liable
            for any loss, damage, or costs incurred or suffered by the Client as
            a result of any act or omission under this Agreement, failure in the
            performance of its obligations under the Agreement, or otherwise,
            unless (and to the extent that) the competent court or tribunal has
            irrevocably ruled that any damages or costs are attributable to
            intentional acts or omissions and such tribunal or court decision is
            not (or no longer) subject to appeal, in which case the exclusions
            and limitations referred to in clauses 5.2 up to and including 5.5
            apply.
        </li>
        <li>
            Subject to clause 5.1, the Contractor's aggregate liability is
            limited to the amount paid out to the Contractor by the Contractor's
            insurer minus the Contractor's own risk. If no payment is made by
            the insurer to the Contractor and the Contractor would still be
            obliged to compensate the Client for any damages, the Contractor's
            aggregate liability is limited to the total amount of the Fee
            charged by the Contractor, excluding any applicable taxes, and paid
            by the Client to the Contractor in relation to the Services which
            caused the damages.
        </li>
        <li>
            Subject to clause 5.1, the Contractor is not liable for indirect
            damages, consequential loss, loss of profits, lost savings, reduced
            goodwill, loss due to business interruption, loss as a result of
            claims of third parties, loss arising from the use of goods, or
            materials of third parties prescribed by the Client to the
            Contractor and any damages or loss arising from contracting
            suppliers the Client has recommended.
        </li>
        <li>
            Subject to clause 5.1, unless performance by the Contractor is
            permanently impossible, the Contractor is exclusively liable for an
            imputable failure in the performance of this Agreement if the Client
            promptly serves the Contractor with a notice of default by email,
            granting the Contractor a reasonable period of time to remedy the
            breach, and the Contractor should still imputably fail to meet the
            Contractor's obligations after that reasonable term has passed. The
            notice of default must describe the Contractor's failure as
            comprehensively and in as much detail as possible so that the
            Contractor has the opportunity to respond adequately.
        </li>
        <li>
            Subject to clause 5.1, the right to compensation of damages
            exclusively arises if the Client reports the damage to the
            Contractor by email as soon as possible after the damage has
            occurred and not later than within fourteen calendar days upon the
            Client having become so aware. Failure to notify the Contractor of
            the damage within such period shall not affect the rights of the
            Client except to the extent the Contractor demonstrates that the
            damages have increased or could have been avoided or mitigated as a
            result thereof, in which case the Contractor shall be relieved of
            liability with respect to such additional damages. A claim expires
            if, within six months after the discovery of the event giving rise
            to the claim or that could give rise to a claim, the Contractor has
            not been notified thereof by email.
        </li>
        <li>
            Nothing in this clause 5 shall operate to limit liabilities in the
            event of fraud, wilful misconduct, gross negligence, or any (other)
            liabilities that cannot be limited under applicable law. Failure by
            the Contractor to inform the Client timely regarding matters
            relating to the execution of the Agreement will not constitute
            grounds for assuming wilful misconduct and/or gross negligence on
            the part of the Contractor.
        </li>
    </ol>
    <h3>6. Force majeure</h3>
    <ol>
        <li>
            Neither Party is obliged to meet any obligation, including, but not
            limited to, any statutory and/or guarantee obligation (if any) if it
            is prevented from doing so by circumstances beyond its control.
            Circumstances beyond the Contractor's control include, but are not
            limited to, the following circumstances or circumstances similar to:
            (i) acts of God, riots, terrorism or war that affect the Contractor;
            (ii) defects in goods, hardware, software or materials that the
            Contractor uses for the performance of the Services; (iii) changes
            in applicable laws and/or regulations; (iv) measures by public
            authorities or decisions of courts or tribunals; (v) power failures;
            (vi) failures of the internet, data network, telecommunication
            facilities or interruptions by service providers; and (vii) (cyber)
            crime or (cyber) vandalism.
        </li>
        <li>
            If a circumstance as described in clause 6.1 lasts for more than
            sixty calendar days, either Party shall be entitled to terminate
            this Agreement by email to the other Party with immediate effect and
            thus without observing a notice period and without being liable or
            any compensation being due.
        </li>
    </ol>
    <h3>7. Payment Terms</h3>
    <ol>
        <li>
            The Client agrees to pay the Contractor at the agreed rate (e.g.,
            hourly, fixed fee, or milestone-based).
        </li>
        <li>
            Invoices will be issued at an agreed interval (e.g., weekly,
            monthly, or upon completion of milestones).
        </li>
        <li>
            Payment is due within seven calendar days of receipt of the invoice
            from the Contractor.
        </li>
        <li>
            All amounts stated in this Agreement are exclusive of any sales or
            value-added taxes chargeable unless explicitly stated otherwise. If
            any sales or value-added taxes are chargeable, the Client shall pay
            to the Contractor, in addition to the Fee, an amount equal to the
            amount of the applicable taxes.
        </li>
        <li>
            Any applicable transaction costs are shared equally by both Parties.
        </li>
        <li>
            If the Client fails to tender full and/or timely payment of any
            payment owed to the Contractor under this Agreement within ten
            calendar days after the due date of that payment, the Contractor
            reserves the right to charge a late payment fee equal to 5% of the
            total amount overdue, to accrue monthly until payment is received.
            Additionally, the Contractor may charge for any expenses incurred in
            connection with collecting the fee from the Client, including legal
            fees and collection costs.
        </li>
    </ol>
    <h3>8. Termination</h3>
    <ol>
        <li>
            This Agreement may be terminated (prematurely) by either Party at
            any time, without reason, by giving notice with due observance of a
            notice period of at least ten days. The notice of termination must
            be given to the other Party by email.
        </li>
        <li>
            Either Party shall be entitled to terminate this Agreement by email
            to the other Party with immediate effect and thus without observing
            a notice period and without being liable or any compensation being
            due by either Party, in the event the other Party:
            <ol type="a">
                <li>
                    materially breaches any of its obligations under this
                    Agreement and, in case the breach is remediable, the breach
                    has not been remedied within a reasonable period after a
                    notice of default has been given, which notice of default is
                    given in accordance with clause 4.4 in case the Contractor
                    is the defaulting Party (a breach of the Client's payment
                    obligations or any obligations of the Client to cooperate
                    and/or to provide information is considered a material
                    breach under this Agreement);
                </li>
                <li>
                    is guilty of fraud, acts contrary to the law and/or
                    regulations, or behaves improperly on the basis of which the
                    other Party cannot reasonably be expected to continue this
                    Agreement;
                </li>
                <li>
                    becomes subject to, or is involved in, any form of
                    insolvency, bankruptcy, suspension of payments, agreement
                    with creditors or is under administration;
                </li>
                <li>
                    or is dissolved, shut down, wound up or liquidated, or
                    deceased.
                </li>
            </ol>
        </li>
        <li>
            The Contractor shall be entitled to suspend performing its
            obligations pursuant to this Agreement with immediate effect, and
            thus without observing a notice period and without being liable or
            any compensation being due to the Client, in an event as described
            in clause 6.2 or 8.4(a).
        </li>
        <li>
            Clauses 9 up to and including 15 shall remain in effect after the
            termination of this Agreement.
        </li>
    </ol>
    <h3>9. Independent Contractor Status</h3>
    <ol>
        <li>
            The Parties hereby expressly declare that the relationship between
            the Client and the Contractor does not qualify or is intended to be
            an employment agreement.
        </li>
        <li>
            The Contractor will act as an independent contractor. The Contractor
            has no right to act for or on behalf of the Client. The Contractor
            shall not introduce itself as a subcontractor of the Client.
        </li>
        <li>
            The Parties expressly do not intend to create a joint venture,
            principal-agent relationship, general or silent partnership, or any
            partnership exceeding the cooperation envisaged in this Agreement.
            The rights and obligations of the Parties are limited to those
            expressly set out in this Agreement.
        </li>
        <li>
            The Parties do not contemplate a sharing of profits relating to
            their respective services nor co-ownership of a business or property
            to create a taxable entity under the law of any jurisdiction.
            Revenue and expenses relating to the Parties' respective services
            shall be reported separately by the Parties for tax purposes.
        </li>
    </ol>
    <h3>10. Tax indemnification</h3>
    <ol>
        <li>
            In the event that the Client is held liable by the tax and/or social
            security authorities to withhold and/or pay any income tax and
            social security premiums, national insurance premiums, employee
            insurance premiums, penalties, and other charges, including, but not
            limited to, interest (together hereinafter referred to as; the
            "Taxes") on any payments made or due by the Client to the Contractor
            under this Agreement, the Client may not set-off any amounts due by
            the Client to the tax and/or social security authorities against the
            Fee. The Client shall indemnify and hold the Contractor harmless
            against any Taxes and other detrimental effects arising from,
            relating to, or in connection with any such actions by the tax
            and/or social security authorities, including, but not limited to,
            any penalties forfeited to the tax and/or social security
            authorities.
        </li>
    </ol>
    <h3>11. Intellectual Property</h3>
    <ol>
        <li>
            Other than as explicitly set out in the Agreement, nothing in this
            Agreement shall be construed to give any Party any right to, title
            to, or interest in the intellectual property of the other Party.
        </li>
        <li>
            All existing and future intellectual property rights created by or
            on behalf of the Contractor or, if applicable, any of its employees
            or contractors, pursuant to or in connection with this Agreement or
            the Services, including, but not limited to, intellectual property
            rights to works, deliverables, texts, writings, images, (graphic)
            designs, sketches, drawings, illustrations, models, characters,
            prototypes, (electronic) files, (carriers with) data, software,
            code, hardware, websites, training, testing, and examination
            materials, as well as other materials such as analyses, designs,
            reports, and documentation, including, but not limited to,
            preparatory materials for these materials, or other intellectual
            property (all the foregoing hereinafter referred to as; the “IP
            Rights”), shall be exclusively vested in and solely owned by the
            Contractor. The Client is solely granted the rights of use laid down
            in this Agreement and in the applicable mandatory legal provisions.
            A right of use granted to the Client is non-exclusive,
            non-transferable, non-pledgeable, and non-sublicensable.
        </li>
        <li>
            The Contractor shall not be obliged to assign or license to the
            Client any IP Rights pursuant to this Agreement. The Client shall
            not acquire nor claim any right to, title to, or interest in or to
            such IP Rights by reason of this Agreement, and nothing in this
            Agreement shall be construed as constituting such right, title, or
            interest. The Client shall not at any time do anything to impair the
            rights of the Contractor to the IP Rights.
        </li>
        <li>
            If the Contractor is prepared to transfer any IP Right(s) (at an
            additional fee), such transfer may only be explicitly effected by a
            written agreement. If the Parties agree by written agreement that
            any such IP Right(s) are transferred to the Client, this does not
            affect the Contractor's rights or options to use and/or exploit,
            either for the Contractor's own use or for third parties and without
            any restriction, the parts, designs, algorithms, documentation,
            works, protocols, standards and the like on which the developments
            referred to are based for other purposes. If any IP Right(s) are
            transferred to the Client, the Client grants the Contractor an
            irrevocable, non-exclusive, royalty-free, transferrable,
            sublicensable, worldwide license to use any part of those IP
            Right(s) in perpetuity and for any purpose.
        </li>
        <li>
            The Client warrants that no rights of third parties preclude making
            works, deliverables, texts, writings, images, (graphic) designs,
            sketches, drawings, illustrations, models, characters, prototypes,
            (electronic) files, (carriers with) data, software, code, hardware,
            websites, training, testing, and examination materials, as well as
            other materials such as analyses, designs, reports, and
            documentation, including, but not limited to, preparatory materials
            for these materials, or other intellectual property available to the
            Contractor for the purpose of the Services. This warranty also
            pertains to the Client having the relevant licenses. The Client
            indemnifies the Contractor against any claim of a third party with
            regard to any intellectual property provided by the Client that is
            used in the execution of this Agreement.
        </li>
        <li>
            The Contractor is entitled to use any results from the Services, the
            Client's figurative mark, logo, and name in any public communication
            and any communication with third parties, including, but not limited
            to, for the purpose of marketing and promotion.
        </li>
    </ol>
    <h3>12. Confidentiality</h3>
    <ol>
        <li>
            Subject to clause 12.2, the Parties shall treat as strictly
            confidential and not disclose or use for other purposes for which it
            is provided: (i) any information relating to this Agreement or any
            ancillary matter; (ii) the negotiations leading up to this
            Agreement; (iii) any confidential or proprietary information
            relating to either Party and its business operations; (iv) any other
            information received from the other Party of which information the
            receiving Party knows or should reasonably know it is confidential;
            and (v) any information that is designated by a Party as being
            confidential. The Party that receives the confidential information
            may only use it for the purpose for which it has been provided.
        </li>
        <li>
            The restrictions contained in clause 12.1 shall not apply if and to
            the extent:
            <ol type="a">
                <li>
                    disclosure is required by any law or by a court or tribunal;
                </li>
                <li>
                    disclosure is required by any regulatory or governmental
                    body;
                </li>
                <li>disclosure is necessary to enforce this Agreement; or</li>
                <li>
                    the information has come into the public domain through no
                    fault of the relevant Party.
                </li>
            </ol>
        </li>
        <li>
            Access to and use of the information as described in clause 12.1
            shall be limited to the employees, advisors, and consultants of each
            Party as much as reasonably required, provided that such employees,
            advisors, and consultants shall be advised of the contents and the
            confidential nature of this information and shall be instructed to
            take all necessary and reasonable precautions to prevent the
            unauthorized use or disclosure thereof.
        </li>
        <li>
            In the event of a disclosure of information pursuant to clause 12.2,
            the Parties shall consult with each other (to the extent permitted
            by applicable laws or regulations) as to the contents, form, and
            timing of the disclosure to be made.
        </li>
    </ol>
    <h3>13. Governing Law and Jurisdiction</h3>
    <ol>
        <li>
            These Terms and Conditions shall be governed by and construed in
            accordance with the laws of The Netherlands.
        </li>
        <li>
            Any dispute arising out of or in connection with this Agreement, the
            Services, or further agreements resulting therefrom, shall be
            exclusively submitted to the competent court in Amsterdam, The
            Netherlands, and each of the Parties consents to the jurisdiction of
            such courts (and of the appropriate appellate courts) in any such
            action or proceeding and waives any objection to venue laid therein.
        </li>
    </ol>
    <h3>14. Miscellaneous</h3>
    <ol>
        <li>
            Neither Party is entitled to assign any of its rights or transfer
            any of its obligations under this Agreement unless agreed between
            the Parties by written agreement.
        </li>
        <li>
            No amendments, changes, modifications, or alterations of the terms
            and conditions of this Agreement shall be binding upon the Parties
            unless agreed between the Parties by written agreement.
        </li>
        <li>
            If individual provisions in this Agreement are or become invalid or
            unenforceable, this does not affect the validity of the remaining
            provisions. The Parties undertake to immediately replace any invalid
            or unenforceable provision with a valid or enforceable provision
            that comes as close as possible to the original intention of the
            Parties.
        </li>
    </ol>
    <h3>15. Acceptance</h3>
    <ol>
        <li>
            By engaging the Contractor, the Client acknowledges that they have
            read, understood, and agreed to these Terms and Conditions.
        </li>
    </ol>
</Layout>
